<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Staff Portal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue"></script>
	<script src="https://unpkg.com/chart.js@2.7.2/dist/Chart.bundle.js"></script>
	<script src="https://unpkg.com/vue-chartkick@0.4.0"></script>
    <script src="script.js"></script>
</head>

<body>
    <div id="app">
    <nav class="navbar navbar-light bg-light">
        <div class='container-fluid'>
            <span class="navbar-brand mb-0 h1"> {{module_name}} Dashboard</span>
            <div>
                Welcome back, Professor Chris!
                <a href='' class='nav-icon'>
                    <i class='fas fa-cog'></i>
                </a>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <a class="navbar-brand" :href="'demo.html?module_name='+module_name" >Demographics</a>
            <a class="navbar-brand" :href="'acad.html?module_name='+module_name" >Academics</a>
            <a class="navbar-brand" href="stud.html">Student Enrollment</a>
    </nav>

        <div style = "width:600px;height:700px;float:left">

            <p>Display students' year of study: {{module_name}}</p>
            <div v-if="module_name.toUpperCase()!= ''">
                <pie-chart :data="modulesYearOfStudy[module_name.toUpperCase()].yearOfStudy"></pie-chart>
            </div>
            <p>Display students' courses: {{module_name}}</p>
            <div v-if="module_name.toUpperCase()!= ''">
                <column-chart :data="modulesCourses[module_name.toUpperCase()].courses" height=500 width=1200></column-chart>
            </div>
        </div>
    

        <div style = "width:500px;height:600px;float:left">
                <p>CAP of students who have taken {{module_name}} </p>
                <column-chart :data="degreeClassification_Count" xtitle="Degree Classification" ytitle="Percentage" :messages="{empty: 'No data'}"
                 :library="{
                  tooltips:{ 
                    callbacks:{ 
                      label: function(tooltipItem, data){
                        return (degreeClassification_StuList[tooltipItem.xLabel]); 
                        } 
                        } 
                        } 
                        }
                        "></column-chart>
        </div>
    </div>
</body>